/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 70%);
  --text-color-light: hsl(0, 0%, 60%);
  --body-color: hsl(0, 0%, 0%);
  --container-color: hsl(0, 0%, 8%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Montserrat", sans-serif;
  --biggest-font-size: 2.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}


/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 5.5rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

body {
  background-color: var(--body-color);
}

button,
input {
  outline: none;
  border: none;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== CSS CLASSES ===============*/
.header{
  position: fixed;
  background-color: transparent;
  width:100%;
  top:0;
  left:0;
  z-index: var(--z-fixed);
  display:flex;
  justify-content: space-between;
}
.nav{
  height: var(--header-height);
padding-left: 3rem;
}
.navlist{
  display: flex;
  gap:1.5rem;
  padding-left: 30rem;
}
.menuicon i,.closeicon i,.menuicon,.closeicon{
  display: none;
}
.nav_logo{
  color:white;
  font-weight: var(--font-semi-bold);
  font-family: var(--second-font);
}
.closeicon,.menuicon{
  font-size: 1.25rem;
  color:white;
  display: flex;
  cursor: pointer;
}
.navlist a{
  color:white;
}
@media screen and (max-width:1023px) {
  .homecards{
    flex-wrap: wrap;
    overflow: hidden;
  }
  .carda{
    justify-self: center;
    padding: 1rem;
  }
 .navmenu{
  position: fixed;
  top: -100%;
  left:0;
  width:100%;
  padding-block: 4rem;
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);  
  transition:top 0.4s;
 }
 .menuicon i,.closeicon i,.menuicon,.closeicon{
  display: block;
  padding-right: 1rem;
}
 .navlist{
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
  padding-left: 0;
 }
 .closeicon{
  position:absolute;
  top:1rem;
  right:2rem;
}
}
.showmenu{
    top:0;
}
.home{
  position: relative;
}
.homebackground{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height: 30rem;
  object-fit: cover;
  object-position: center;
}
.homedata{
  margin-top: 3rem;
  text-align: center;
  height: 17rem;
}
.hometitle,.homesubtitle,.homedescription,.homebutton{
  margin-bottom: 0.9rem;
}
.homecontainer{
  position: relative;
  padding-top: 3rem;
  row-gap: 3rem;
}
.homebutton{
  font-weight: 500;
  color:white;
}
.homecards{
display: flex;
width:97%;
justify-content: space-between;
justify-content: center;
gap:1rem;
}
.cards{
  position: relative;
  overflow: hidden;

}

.place{
  height: 170px;
  transition: transform 0.4s;
  padding-left: 0.3rem;
  cursor: pointer;
}
/* effect 1 of scale */
.place:hover{
  transform: scale(1.2);
}
.homecardtitle{
  position: relative;
  top:-2rem;
  left:1rem;
}
.homebutton{
  padding:0.6rem;
  border-radius: 14px;
  background-color: hsla(0,0%,100%,0.2);
  text-align: center;
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}
.scroll_header::after{
  content:'';
  position:absolute;
  width:1000%;
  height:100%;
  background-color: hsla(0,0%,0%,0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  top:0;
  left:0;
  z-index: -1;
}
.homeshadow{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 32rem;
  background: linear-gradient(180deg,
              hsla(0,0%,0%,0) 40%,
              hsla(0,0%,0%,0) 60%,
              hsla(0,0%,0%) 92%);
}
.aboutcontainer{
  display: grid;
  grid-template-columns: 60% 40%;
  margin:4rem 1rem;
 padding:0rem 4rem;
 align-content: center;
}
.abouttitle{
  margin-bottom: 0.5rem;
}
.aboutdesc{
  margin-bottom: 1.5rem;
  font-size: var(--small-font-size);
}
.beach{
  padding-left: 1rem;
  border-radius: 50%;
  margin-left: 1rem;
}
.section_title{
  text-align: center;
  margin: 2rem;
}
.popular_flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.popular_cards{
  width:20%;
}
.popular_locaions{
  margin-bottom: 1rem;
}
.popular__image{
  transition: transform 0.4s;
}
/* second animation */
.popular_images{
  overflow: hidden;
}
.popular_images:hover .popular__image{
  transform: scale(1.2);
  cursor: pointer;
}
.Explore{
  position: relative;
}
.explore__image{
  position:absolute;
  overflow: hidden;
  width: 100%;
}
.explore__img{
  width:100%;
  height: 333px;
  object-fit: cover;
  object-position: center;
}
.explore_shadow{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background: linear-gradient(180deg
              ,hsla(0,0%,0%) 5%,
              hsla(0,0%,0%,0) 40%,
              hsla(0,0%,0%,0) 60%,
              hsla(0,0%,0%) 92%);
}
.explore_content{
  position:relative;
  padding-top: 15rem;
  display: flex;

}
.explore_data{
  position: relative;
  padding-left: 2rem;
  padding-right: 5rem;
  margin-bottom:2rem ;
}
.explore_user{
  display: inline-flex;
  padding-right: 5rem;
  padding-top: 3rem;
}
.explore_user_image{
  width:1.8rem;
  height:1.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.explore_user_name{
  font-size: 0.6rem;
}
.join_container{
  padding-bottom:3rem;
  display: flex;
  flex-direction: row-reverse;
    margin-top: 3rem;
    align-items:center ;
}
.join_desc{
  margin-bottom: 2rem;
}
.join_container form{
  display: grid;
  row-gap: 1rem;
}
.join_input{
  padding:1.25rem 1rem;
  background-color: var(--container-color);
}
.join_button{
  cursor: pointer;
  text-align: left;
  height: 2rem;
  background-color: #28231D;
  font-weight: 500;
  font-size: 0.8rem;
}
.join_image{
  position:relative;
  overflow: hidden;
 width:70%;
 margin-left: 2rem;
}
.join_img{
  transition: transform 0.4s;
  height:100%;
}
.join_shadow{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background: linear-gradient(180deg
              ,hsla(0,0%,0%) 5%,
              hsla(0,0%,0%,0) 40%,
              hsla(0,0%,0%,0) 60%,
              hsla(0,0%,0%) 92%);
}
.join_data{
  padding:0rem 1rem 0rem 2rem;
}
.footer{
  background-color: #232B2B;
}
.footer_content{
  display: flex;
}
.footer_help{
  width:40%;
  margin:3rem 3rem 0rem 1rem;
}
.footer_logo{
  font-size: 0.9rem;
  color:white;
  font-weight: 500;
}
.footer_desc{
  font-size: 0.7rem;
  margin-top: 0.5rem;
}
.footer_data{
  display: grid;
  grid-template-columns:repeat(4,1fr);
  margin:3.2rem 1rem;
  column-gap: 1.5rem;
}
.footer_data h3{
  font-size: 0.9rem;
}
.footer_data ul{
  margin-top: 0.5rem;
}
.footer__links{
  font-size: 0.7rem;
  color:var(--text-color);
}
.footer_social-link{
 color:white;
 margin:0.5rem;
}
/* setting scrollbar  */
::-webkit-scrollbar{
  width:0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 10%);
}
/* scroll bar thumb  */
::-webkit-scrollbar-thumb{
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 20%);
}
::-webkit-scrollbar-thumb:hover{
  background-color: hsl(0, 0%, 30%);
}
.scroll_up{
  position:fixed;
  right:1rem;
  bottom:-50%;
  background-color: hsla(0,0%,100%,0.1);
  padding:6px;
  display: inline-flex;
  color:var(--title-color);
  font-size: 1.25rem;
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);  /*for safari*/
  z-index:var(--z-tooltip);
  transition: bottom 0.4s transform 0.4s;
  border-radius: 50%;
}
.scroll_up:hover{
  transform: translateY(-0.25rem);
}
.show-scroll{
  bottom:3rem;
}
.navlink::after{
  content:'';
  background-color: white;
  height:0.2rem;
  width:100%;
  display: block;
  opacity: 0;
  transition: all l 0.4s;
  transform: scaleX(0);
}
.active_link::after{
opacity: 1;
transform: scaleX(1);
cursor:pointer;
width:2.7rem;
margin:0 auto
}
/* setting for other devices */
@media (max-width:720px){
  .aboutdesc{
    font-size: 0.6rem;
  }
  .explore_desc{
    font-size: 0.6rem;
  }
  .footer_desc,.footer__links{
    font-size: 0.5rem;
  }
  .footer_help{
    margin:3rem 1rem 0rem 1rem;
  }
}
@media(max-width:650px){
  *{
    font-size: 0.9rem;
  }
  .join_desc{
    font-size: 0.6rem;
  }
}
@media(max-width:515px){
  *{
    font-size: 0.7rem;
  }
  .explore_content{
    padding-top: 21rem;
  }
  .explore_data{
    padding-right: 1.5rem;
  }
}
@media(max-width:442px){
 .footer_title,.footer_logo{
  font-size: 0.7rem !important;
 }
 .join_input{
  height:1rem;
 }
 .join_button{
  height:1.2rem;
 }
 .homecardtitle,.subtitle,.homesubtitle{
  font-size: 1rem;
 }
.about_image{
  align-self: center;
}
.join_button{
  font-size: 0.7rem;
}
}



