body{
    text-align: center;
    font-family: 'Sora', sans-serif;
}
.div{
    padding-top: 40px;
    height:230px;
    width:330px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin:0 auto;
}
.red{
    height:100px;
    width:150px;
    background-color: rgb(255, 0, 0);
    border-radius: 20px;
    border: 3px solid rgba(0, 0, 0, 0.582);
}
.b{
    background-color: blue;
}
.c{
    background-color: green;
}
.d{
    background-color:rgb(255, 170, 0) ;
}
.flash{
    background-color: white;
}
.f{
    background-color: black;
}